body {
	background-color: #F7F597;
	height:1290px;
	margin-top: 20px;

}

#main {
	float: bottom;
	font-family: 'Lora', serif;
	font-size: 1.1em;
	}

#pic {
	margin-top: 60px;
}

#vis {
	font-family: 'PT Sans', sans-serif;
	position: relative;
	width:1200px;
	margin-top: 60px;
}

#titles {
	width: 1500px;
	position: fixed;
	top:310px;
	z-index: 1;
}

#info-foot {
	position: fixed;
	bottom: 1em;
	width: 700px;
	height: 50px;
	right: 222px;
	background: #F3F789;
	border: 1px solid black;
	z-index: 2;
}

#info-foot p {
	margin: 2px 0px 0px 5px;
}

header .row {
	margin-bottom: 8px;
}

.btn {
	border: 1px solid black;;
}

.topicholder {
	height: 90px;
	margin-bottom: 20px;
	float: bottom;
}
.topictext {
	position: relative;
	width: 50px;
	height: 90px;
	float: left;
	display: inline-block;
	transform-origin: left;
	-ms-transform: translate(60px,30px) rotate(-90deg);
    -webkit-transform: translate(60px,30px) rotate(-90deg);
    transform: translate(60px,30px) rotate(-90deg)  ;

}

.topicbin {
	position: relative;
	width: 90%;
	height: 90px;
	background-color: #e5e0cd;
	float: left;
	border: 1px solid black;
	}

.namebin {
	position:relative;
	float: left;
	width: 4%;
	height: 100%;
}

.seriesbin {
	position: relative;
	float:left;
	height:100%;
	width: 100%;
}

.bookbin {
	position:relative;
	height: 100%;
	float:left;
	/* margin-right:7px;  */
	/* margin-top: -2px;  */
}

.titletext{
	fill: black;
}

.booksvg {
	width: 100%;
	height: 100%;
}


.topiclabel {
	position:relative;
	top: 50%;
	left:0%;
	}

rect {
	/* fill: #8d0cad; */
	fill: #0036DD;
}

@media (min-width:786px) {
	#pic {display: none;}
}

@media (max-width: 786px) {
	#body {display: none;}
	#info-foot {display: none;}
	.btn {display: none;}
}
