#main {
	width: 100%;
	}

#vis {
	position: relative;
	width: 1500px;
	}

.topicbin {
	width: 100%;
	height: 80px;
	background-color: gray;
	float: bottom;
	margin-bottom: 10px;
	}
	
.namebin {
	position:relative;
	float: left;
	width: 4%;
	height: 100%;
}

.seriesbin {
	position: relative;
	float:left;
	height:100%;
}

.bookbin {
	position:relative;
	height: 100%;
	float:left;
	margin-right:5px;
	background-color:lightgrey;
	}
	
.booksvg {
	width: 100%;
	height: 100%;
}

	
.topiclabel {
	position:relative;
	top: 50%;
	left:0%;
	}
	
